.advantages {
  padding: 50px 0;
}

.advantages_title {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1314px) {
  .advantages_title {
    text-align: left;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
  }
}

.advantages-list {

  background: #FFFFFF;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .advantages-list {
    margin: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  
}

@media screen and (min-width: 1314px) {
  .advantages-list {
    justify-content: space-between;
  }
}

.card {
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 479px) {
  .card {
    margin: 15px 0;
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .card {
    margin: 15px 0;
    width: 335px;;
    height: 335px;
  }
}

@media screen and (min-width:768px) {
  .card:nth-child(2n + 1) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1314px) {
  .card:nth-child(2n + 1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1314px) {
  .card {
    width: 424px;;
    height: 396px;
    margin: 0;
    margin-bottom: 20px;
  }
}


.card:hover,
.card:focus {
  background-color: #FF6B09;
}

.card-link {
  height: 100%;
  width: 100%;
  display: block;
}

.card-link:hover .card-title,
.card-link:hover .card-text,
.card-link:focus .card-text,
.card-link:focus .card-title,
.card-link:hover .card-icon,
.card-link:focus .card-icon {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.card-link:hover,
.card-link:focus{
  background-color: #FF6B09;
}

.card-link:hover .card-title::after,
.card-link:focus .card-title::after {
  background-color: #FFFFFF;
}

.card-block {
  text-align: center;
  padding: 30px 0 55px;
}

@media screen and (min-width: 768px) {
  .card-block {
    padding: 30px 14px 55px;
  }

}

@media screen and (min-width: 1314px) {
  .card-block {
    padding: 30px 30px 55px;
    width: 100%;
    height: 100%;
  }

}

.card-title {
  position: relative;
  margin-top: 20px;
  padding-bottom: 21px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.08em;

  color: #111518;
}

@media screen and (min-width: 1314px) {
  .card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }

}

.card-title::after {
  position: absolute;
  content: " ";
  display: block;

  right: 50%;
  width: 20px;
  height: 2px;
  margin-top: 20px;
  transform: translate(10px);
  background-color: #FF6B09;
}



.card-text {
  margin-top: 20px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.08em;

  color: #B9B9B9;
}

@media screen and (min-width: 1314px) {
  .card-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
}

.card-icon {
  fill: #FF6B09;
}
