<section class="program">
  <div class="container">
    <h2 class="program__title">Наша программа</h2>
    <div>
      <ul class="program-list">
        <li class="program-list__item">
          <h3 class="program-list__title">1 семестр</h3>
          <div class="program-list__block">
            <ul class="program-study">
              <li class="program-study__item">
                <h4 class="program-study__title">Grammar</h4>
                <p class="program-study__text">Nouns & Articles Adjectives & Adverb</p>
              </li>
              <li>
                <h4 class="program-study__title">Vocabulary</h4>
                <p class="program-study__text">Family & Relations People & Society</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="program-list__item">
          <h3 class="program-list__title">2 семестр</h3>
          <div class="program-list__block">
            <ul class="program-study">
              <li>
                <h4 class="program-study__title">Grammar</h4>
                <p class="program-study__text">Pronouns Active Voice Passive Voice</p>
              </li>
              <li>
                <h4 class="program-study__title">Vocabulary</h4>
                <p class="program-study__text">Home School Work</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="program-list__item">
          <h3 class="program-list__title">3 семестр</h3>
          <div class="program-list__block">
            <ul class="program-study">
              <li>
                <h4 class="program-study__title">Grammar</h4>
                <p class="program-study__text">Modal verbs Infinitive Gerund Participle: 1, 2</p>
              </li>
              <li>
                <h4 class="program-study__title">Vocabulary</h4>
                <p class="program-study__text">Travel & Tourism Culture & Free Time Sport</p>
              </li>
              <li>
                <h4 class="program-study__title">Writing</h4>
                <p class="program-study__text">Informal Letter</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="program-list__item">
          <h3 class="program-list__title">4 семестр</h3>
          <div class="program-list__block">
            <ul class="program-study">
              <li>
                <h4 class="program-study__title">Grammar</h4>
                <p class="program-study__text">
                  Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction
                  Numeral
                </p>
              </li>
              <li>
                <h4 class="program-study__title">Vocabulary</h4>
                <p class="program-study__text">Healthy Living Nature & Environment Money</p>
              </li>
              <li>
                <h4 class="program-study__title">Writing</h4>
                <p class="program-study__text">Formal Letter</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="program-list__item">
          <h3 class="program-list__title">5 семестр</h3>
          <h4 class="program-study__title"></h4>
          <p class="program-study__text">Revision Tests</p>
        </li>
      </ul>
    </div>
  </div>
</section>
